* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;

  font-family: 'Kameron', serif;

}

a {
  text-decoration: none;

}

:root{
  --background-color:#324242;
  --background-secundary-color:#506060;
  --text-color:#F2E8FF;
  --text-card-color:#1A1A1A;

  
}

body{
  background-color: var(--background-color);
  color: var(--text-color);

}

#page-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0 auto;


}
.container {
 max-width: 1420px;
 margin: 0 auto;
 padding: 32px;

 width:100%;
}