.card-hero{
  background-color: var(--text-color);
  color: var(--text-card-color);
 width: 300px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 300ms;
}
.card-hero:hover{
scale: 1.1;

}
.card-hero h2 {
  font-family: 'Bowlby One SC', sans-serif;
  font-size: 24px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  gap: 20px;
}